*{
    background-color:#FFFFFF ;
    background-color:#F5F7FA ;
    background-color:#E4E7EB ;
    background-color:#CBD2D9 ;
    background-color:#9AA5B1 ;
    background-color:#52667A ;
    background-color:#313D49 ;
    background-color:#29333D ;
    background-color:#212931 ;
    background-color:#181F25 ;
    background-color:#101418 ;
    background-color:#080A0C ;
}

*{
    background: #E3F9E5 #C1EAC5 #A3D9A5 #7BC47F #57AE5B #3F9142 #2F8132 #207227 #0E5814 #05400A;
}

*{
    background: 0ED69F  ;
}

#3AFFB3
#3AE4B3
#3AD1B3
